.faq-title{
    display: flex;
    justify-content: center;
    padding: 80px 15px 40px 15px;

    & h2{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
        letter-spacing: 1px;
        text-align: center;

        @media (max-width: 900px){
            font-size: 58px;
            line-height: 69px;
        }
        @media (max-width: 860px){
            font-size: 56px;
            line-height: 67px;
        }
        @media (max-width: 830px){
            font-size: 54px;
            line-height: 65px;
        }
        @media (max-width: 800px){
            font-size: 52px;
            line-height: 63px;
        }
        @media (max-width: 447px){
            font-size: 46px;
            line-height: 58px;
        }
        @media (max-width: 420px){
            font-size: 43px;
            line-height: 55px;
        }
        @media (max-width: 397px){
            font-size: 41px;
            line-height: 53px;
        }
    }

    @media (max-width: 780px){
        padding: 40px 40px 40px 40px;
    }
    @media (max-width: 530px){
        padding: 40px 25px;
    }
    @media (max-width: 500px){
        padding: 40px 10px;
    }
}
.faq-content{
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    padding: 80px 20px;

    @media (max-width: 779px){
        padding: 40px 20px;
    }
}
.faq-accordeon-wrapper{
    display: flex;
    justify-content: center;
}
.faq-accordeon-1{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.accordeon-title-1{
    
    & h3{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 1px;
    }
}