.funded-title{
    display: flex;
    justify-content: center;
    padding: 80px 15px 40px 15px;

    & h2{
        color: var(--text-color);
        text-align: center;
        font-family: var(--font-accent);
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
        letter-spacing: 1px;

        @media (max-width: 460px){
            font-size: 57px;
            line-height: 69px;
        }
        @media(max-width: 441px){
            font-size: 53px;
            line-height: 67px;
        }
        @media (max-width: 414px){
            font-size: 49px;
            line-height: 64px;
        }
        @media (max-width: 389px){
            font-size: 47px;
            line-height: 61px;
        }
        @media (max-width: 376px){
            font-size: 45px;
            line-height: 58px;
        }
        @media (max-width: 363px){
            font-size: 43px;
            line-height: 55px;
        }
        @media (max-width: 351px){
            font-size: 42px;
            line-height: 53px;
        }
    }

    @media (max-width: 800px){
        padding-top: 40px;
    }
    @media (max-width: 500px){
        padding-top: 25px;
    }
}

.funded-menu{
    display: flex;
    justify-content: center;
}

.funded-list{
    display: flex;
    column-gap: 24px;
    align-items: center;

    & li{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 1px;
        padding: 12px 16px;

        &:hover{
            border-radius: 7.29px;
            background: var(--color-secondary-bg);
        }

        @media (max-width: 1070px){
            padding: 10px 14px;
        }
        @media (max-width: 1050px){
            padding: 7px 11px;
        }
    }

    @media (max-width: 1160px){
        column-gap: 15px;
    }
    @media (max-width: 1100px){
        column-gap: 10px;
    }
    @media (max-width: 1030px){
        column-gap: 7px;
    }
    @media (max-width: 1010px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 9px;
    }
}

.funded-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 80px 10px;
}
.funded-content-block{
    display: flex;
    column-gap: 24px;

    @media (max-width: 1231px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
}

.funded-cards{
    display: flex;
    flex-direction: column;
    row-gap: 280px;
    border-radius: 16px;
    border: 1px solid var(--color-secondary-bg);
    background: var(--color-secondary-bg);
    padding: 24px;
    max-width: 380px;

    @media (max-width: 834px){
        row-gap: 200px;
    }
}

.funded-wrapper-content-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.funded-card-title{
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    & h3{
        color: var(--text-color-2);
        font-family: var(--font-main);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    & h2{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 1px;
    }
}

.funded-card-content{

    & p{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px; /* 150% */
        letter-spacing: 1px;
    }
}
.funded-card-icons{
    display: flex;
    align-items: flex-start;
}
.funded-card-icons-1{
    padding-top: 27px;
}
.funded-card-icons-2{
    padding-top: 24px;
}
.funded-card-icons-4{
    padding-top: 25px;
}
.funded-card-icons-5{
    padding-top: 51px;
}
.funded-card-icons-8{
    padding-top: 55px;
}