.grants-title{
    display: flex;
    justify-content: center;
    padding: 80px 10px 40px 10px;

    @media (max-width: 700px){
        padding-top: 35px;
    }
}
.grants-title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    & h2{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
        letter-spacing: 1px;
        text-align: center;

        @media (max-width: 635px){
            font-size: 57px;
            line-height: 69px;
        }
        @media (max-width: 530px){
            font-size: 55px;
            line-height: 67px;
        }
        @media (max-width: 500px){
            font-size: 53px;
            line-height: 65px;
        }
        @media (max-width: 470px){
            font-size: 50px;
            line-height: 62px;
        }
        @media (max-width: 445px){
            font-size: 48px;
            line-height: 60px;
        }
        @media (max-width: 430px){
            font-size: 46px;
            line-height: 58px;
        }
        @media (max-width: 415px){
            font-size: 44px;
            line-height: 56px;
        }
        @media (max-width: 400px){
            font-size: 42px;
            line-height: 54px;
        }
        @media (max-width: 381px){
            font-size: 40px;
            line-height: 51px;
        }
        @media (max-width: 366px){
            font-size: 38px;
            line-height: 49px;
        }
        
    }
    & p{
        color: var(--text-color-2);
        font-family: var(--font-accent);
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px; /* 133.333% */
        letter-spacing: 1px;
        max-width: 600px;
        text-align: center;

        & a{
            color: #6966FF;
            &:hover{
                color: #3936eb;
            }
        }
    }

    @media (max-width: 430px){
        row-gap: 19px;
    }
}
.grants-application{
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 700px){
        padding-top: 35px;
    }
}
.application-title{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    & h3{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 120% */
        letter-spacing: 1px;

        @media (max-width: 420px){
            font-size: 35px;
            line-height: 45px;
        }
    }
}

.application-form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding: 40px 175px;
    border: 3px solid #94939c;
    border-radius: 12px;

    @media (max-width: 720px){
        padding: 40px 130px;
    }
    @media (max-width: 615px){
        padding: 40px 100px;
    }
    @media (max-width: 530px){
        padding: 40px 80px;
    }
    @media (max-width: 480px){
        padding: 40px 50px;
    }
    @media (max-width: 420px){
        padding: 40px 40px;
    }

}
.application-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}
.application-form__input{
    padding: 12px 78px 12px 14px;
    border-bottom: 1px solid #94939c;
    font-family: var(--font-accent);
    font-weight: 400;
    color: var(--text-color-2);
    font-size: 16px;

    &::placeholder{
        font-family: var(--font-accent);
        font-weight: 400;
        color: var(--text-color-2);
        font-size: 16px;
    }

    @media (max-width: 395px){
        padding: 12px 60px 12px 14px;
    }
    @media (max-width: 375px){
        padding: 12px 45px 12px 14px;
    }
    @media (max-width: 360px){
        padding: 12px 35px 12px 14px;
    }
}
.application-form__button{
    padding: 12px 16px;
    border: 2px solid var(--accent);
    border-radius: 12px;

    &:hover{
        box-shadow: 0px 0px 5px 3px var(--accent);
        transition: 0.8s;
    }
}
